input#chat {
	width: 456px;
	border: 1px solid #AACAAC;
}

#container {
	width: 450px;
}

#history {
	height: 180px;
	border: 1px solid #AACAAC;
	padding: 5px;
	font-family: Courier, monospace;
	font-size: .9em;
	overflow-y: scroll;
	width: 100%;
}

#history p {
	margin: 0;
	padding: 0;
}

div.notif {
   width:30px; 
   height:30px; 
   background-image:url('http://localhost:8082/hey/css/images/app.png');
   background-repeat: no-repeat;
}

​